name: update my-awesome
on:
  schedule:
  - cron: 30 2 * * *
jobs:
  my-awesome:
    name: update my-awesome
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.15'
    - name: Install
      run: |
          git clone https://github.com/zoroqi/collect-repos.git
          cd collect-repos
          go install
    - name: update repo
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          collect-repos -username zoroqi -file README.md -repository my-awesome -token ${GITHUB_TOKEN} -branch master
